<% content_for :title, "投稿一覧" %>

<h1>投稿一覧</h1>

<%= paginate @posts %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "投稿詳細へ", [:admin, post] %>
    </p>
  <% end %>
</div>

<%= paginate @posts %>

<%= link_to "新規投稿", new_admin_post_path %>
